<!DOCTYPE html>
    <html>
      <head>
        <title>About Me.</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <title>Don't Drown Home Page</title>
        <!-- Bootstrap core CSS -->
    	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        <style>
        body{
            background-color: #063956;
        }
        img{
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 80%
        }
        p{
            margin-top: 10%;
            text-align: center;
            color: #97cedf;
            display: block;
            margin-left: auto;
            margin-right: auto;
            justify-content: center;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-weight: lighter;
            font-size: large;
            opacity: 80%;
        }
        button{
            background-color: Transparent;
            outline:none;
            border:none;
        }
        .center {
          margin: 0;
          position: absolute;
          top: 50%;
          left: 50%;
          -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
        </style>
      </head>
      <body>




        <div class="container">
          <br>
          <img src="https://i.imgur.com/8IGtwc7.png">

          <div class = "center">    <br>
              <br>
              <br>
              <br>
          <button onclick="thing()"><img src = "https://i.imgur.com/2qseRIF.png"></button>
          <br>
          <br>
          <br>
          <button onclick="thing()"><img src = "https://i.imgur.com/cDbpaT0.png"></button>
        </div>
        </div>



      </body>
    </html>
